@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rampart+One&display=swap');

:root {
  --background: #d9d9d9;
  --title-color: #fff;
  --subtitle-color: #fff;
  --amarelo: #ffde59;
  --text-color: #000;
  --second-text-color: #fff;
  --text-color-card: #000;
  --border-color: #ffffff;
  --link-color: #ffffff;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

.game-banner {
  background: url(../img/azul-escuro.png);
  background-size: cover;
}

/*
.game-banner__image {
  height: 300px;
  object-fit: none;
  object-position: 10% 20%;
}
*/

.game-banner__image {
  height: 200px;
  width: -webkit-fill-available;
}

.banner__the-last-of-us-part-1 .game-banner__image {
  object-fit: none;
  object-position: 56% 17%;
}

.banner__baldurs-gate-3 .game-banner__image {
  object-fit: none;
  object-position: 40% 47%;
}

.banner__final-fantasy-7-remake .game-banner__image {
  object-fit: cover;
}

.game-banner__description {
  color: var(--second-text-color);
  font-weight: 400;
  padding: 1rem 2rem;
  text-align: center;
}

.game-banner__footer {
  display: flex;
  justify-content: space-around;
  color: var(--amarelo);
  padding-top: 1rem;
  font-size: 14px;
}
