@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rampart+One&display=swap');

root {
  --background: #2146C7;
  --title-color: #000;
  --amarelo: #FCE22A;
  --text-color: #FFFFFF;
  --border-color: #FFFFFF;
  --link-color: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2146C7;
  font-family: 'Fredoka One', cursive;
}

.title {
  font-family: 'Rampart One', cursive;
  color: var(--title-color);
}

.header {
  display: flex;
  justify-content: space-between;
  font-family: 'Fredoka One', cursive;
  background-color: #FFFFFF;
  padding: 0 2em;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.menu__link {
  font-size: 24px;
  color: #FFFFFF;
  background-color: #2146C7;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 15px;
  transition: 0.3s;
}

.menu__link:hover {
  color: #000000;
  background-color: #FFFFFF;
  transition: 0.3s;
}

#btn-mobile {
  display: none;
}

/* Conte*/

.main__text {
  color: #FFFFFF;
  font-size: 1.5rem;
  margin: 1rem 3rem;
}

.main__image {
  width: 100%;
}

.last-game {
  display: flex;
  gap: 1rem;
  font-size: 18px;
  color: #FFFFFF;
  margin: 1rem 3rem;
  border-top: 3px solid #FFFFFF;
}

.last-game__info__link {
  text-decoration: none;
  font-size: 18px;
  color: #F9F54B;
}

.title__more-games {
  margin: 1rem 3rem;
  padding: 10px 0;
  color: #FFFFFF;
  border-top: 3px solid #FFFFFF;
}

.more-games {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 20px;
}

.game-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 454px;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}

.game-card:hover {
  transform: scale3d(1.1, 1.1, 1);
}
.game-card__img {
  height: 352px;
}

.game-card__description {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  color: #FFFFFF;
}

.game-card__link {
  display: block;
  text-align: center;
  background-color: white;
  padding: 16px;
  text-decoration: none;
  color: #000;
}

.footer {
  font-family: 'Fredoka One', cursive;
  color: #000000;
  text-align: center;
  border-top: 3px solid #FFFFFF;
  background-color: #FFFFFF;
  padding: 2em;
}

.footer h2 {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .last-game {
    flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  
}

@media screen and (max-width: 320px) {

}
